* {
	box-sizing: border-box;
}

html {
	cursor: default;
	font: 100%/1.5 "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
	overflow: hidden;
	user-select: none;
}

body {
	width: 100vw;
	height: 100vh;
}

.bikeshed-editor {
	background-color: transparent;
	border-width: 0;
	box-shadow: inset -1px 0 0 0 #ccc;
	font: inherit;
	font-size: 80%;
	outline: 0;
	padding: 1em;
	position: fixed; top: 0; left: 0;
	resize: none;
	width: 50vw; height: 100vh;
}

.bikeshed-preview {
	border-width: 0;
	position: fixed; top: 0; right: 0;
	width: 50vw; height: 100vh;
}
